h1 {
    color: white;
    text-align: center;
}

p>input,
p>textarea,
form>input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(17, 17, 17);
    color: white;
}

p>label {
    font-size: 18px;
    color: white;
    font-weight: bold;
}